@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-text-color: #3a7388;
  --second-text-color: #ffffff;
}

.titleH1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 1em;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  padding: 4px;
}

*::-webkit-scrollbar-track {
  background: #00000000;
}

*::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: var(--main-text-color);
  border-radius: 20px;
  border: unset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: unset;
  color: var(--main-text-color);
}

//ОПТИМИЗАЦИЯ СТИЛЕЙ!

.w100 {
  width: 100%;
  &:nth-child(2) {
    position: relative;
    margin-bottom: 16px;
    &::before {
      content: "";
      position: absolute;
      background-color: var(--main-text-color);
      width: 100%;
      height: 1px;
      bottom: -24px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.gap32 {
  gap: 16px;
}
.gap16 {
  gap: 16px;
}

.gap8 {
  gap: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flexx {
  display: flex;
  justify-content: center;
}

.mx-auto {
  margin: 0 auto;
}

.posFix {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blackBG {
  z-index: 500;
  width: calc(100vw - 4px);
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.25);
}

footer {
  width: 100%;
  text-align: center;
  & p {
    margin: 32px auto;
    width: 80vw;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      max-width: 1440px;
      width: 80vw;
      background-color: var(--main-text-color);
      height: 1px;
      top: -12px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.modalTechWorks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  & h1 {
    margin-bottom: 16px;
    font-family: "Inter", sans-serif;
  }
  & p {
    font-family: "Inter", sans-serif;
  }
}

.loaderbg {
  width: 100vw;
  height: 100vh;
  background-color: var(--second-text-color);
  z-index: 1000;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  z-index: 1001;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--main-text-color);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}