.container {
  width: 100vw;
}

// @media (max-width: 1440px) {
//   .container {
//     width: 100%;
//     margin: 0;
//   }
// }

.programm {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 64px;
  & h1 {
    margin-bottom: 48px;
  }
}

.programmButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.programmButton {
  font-weight: 800;
  font-size: 20px;
  padding: 20px 40px;
  color: #3a7388;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s ease-in-out color, 0.15s ease-in-out background-color;
  position: relative;
  height: 68px;
  &::before {
    content: "";
    height: 2px;
    background-color: #3a7388;
    width: calc(100% - 80px);
    position: absolute;
    transform-origin: right;
    left: 40px;
    bottom: 30%;
    transform: scaleX(0);
    transition: 0.15s ease-in-out transform, 0.15s ease-in-out background-color;
  }
  &:hover {
    color: #fff;
    background-color: #3a7388;
    &::before {
      background-color: #fff;
      transform: scaleX(1);
      transform-origin: left;
    }
  }
  &.programmButtonActive {
    &::before {
      transform: scaleX(1);
    }
  }
}

.programmContainer {
  color: #000;
}

.programmMainContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
  align-items: center;
  &:last-child {
    margin-bottom: 0;
  }
}

.programmMainContainer1 {
  & p {
    color: #3a7388;
    text-align: center;
    &:nth-child(1) {
      font-weight: 800;
      font-size: 40px;
    }
    &:nth-child(2) {
      font-weight: 400;
      font-size: 32px;
    }
  }
}
.programmMainContainer2 {
  & p {
    font-family: "Inter";
    color: #3a7388;
    text-align: center;
    &:nth-child(1) {
      font-weight: 700;
      font-size: 40px;
    }
    &:nth-child(2) {
      font-weight: 300;
      font-size: 64px;
    }
  }
}

.programmSectionbtns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.programmSectionbtn {
  width: 382px;
  border-radius: 10px;
  background-color: #fff;
  color: #3a7388;
  font-weight: 800;
  font-size: 14px;
  padding: 16px 32px;
  transition: 0.15s ease-in-out background-color, 0.15s ease-in-out color;
  &:hover {
    background-color: #3a7388;
    color: #fff;
  }
  &.programmSectionbtnActive {
    background-color: #3a7388;
    color: #fff;
  }
}

//speakers
.speakers {
  margin: 0 auto;
  width: 1100px;
  & h1 {
    margin-bottom: 80px;
  }
  margin-bottom: 64px;
}

.speakersContainer {
  display: flex;
  justify-content: space-between;
}

.speaker {
  width: 340px;
  height: 457px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0);
    background-color: #3a7388;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    transition: 0.3s ease-in-out opacity, 0.3s ease-in-out transform;
    transform-origin: top;
  }
  &:hover {
    &::before {
      opacity: 1;
      transform: translate(-50%, -50%) scaleY(1);
      transform-origin: bottom;
    }
  }
  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  & div {
    position: absolute;
    left: 8px;
    bottom: 8px;
    & p {
      text-transform: uppercase;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      color: #fff;
    }
  }
}

.speakersBlackBG {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000033;
}

.speakersModal {
  width: 930px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 14px;
}

.speakersModalImage {
  width: 300px;
  height: 530px;
  margin-top: 10%;
  object-fit:cover;
  border-radius: 10px;
}

//speakers

.register {
  width: 410px;
  margin: 0 auto;
  padding: 32px 0;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.registerInput {
  width: 100%;
  height: 48px;
  background-color: #f5f5f5;
  color: #000;
  border-radius: 10px;
  padding: 14px 18px;
  &::placeholder {
    color: #9c9c9c;
  }
  & option {
    color: black;
  }
}

.registerButton {
  font-weight: 700;
  font-size: 24px;
  background: #3a7388;
  border-radius: 10px;
  width: 100%;
  height: 64px;
}
