.header {
  width: 100%;
  height: 587px;
  overflow: hidden;
  margin-bottom: 64px;
}

.bgHeader {
  width: 100%;
  height: 100%;
}

.headerP1,
.headerP2 {
  font-weight: 600;
  font-size: 14px;
  margin-left: 8px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.headerP1 {
  width: 126px;
}

.headerP2 {
  width: 259px;
}

.topBar {
  position: fixed;
  height: 80px;
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 40px;
  top: 0;
  z-index: 50;
}

.topBarLeft {
  height: 68px;
  display: flex;
  align-items: center;
}

.topBarLeftCtn {
  display: flex;
  align-items: center;
  max-height: 100%;
  & img {
    max-height: 100%;
  }
}

.topBarRight {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  gap: 16px;
}

.topBarButton {
  cursor: pointer;
  background-color: #ffffff00;
  border-radius: 10px;
  padding: 12px 16px;
  color: var(--second-text-color);
  transition: 0.15s ease-in-out background, 0.15s ease-in-out color;

  &:hover {
    background: #ffffff;
    color: inherit;
  }
}

.topBarButtonPartner {
  font-weight: 700;
  margin: 0 16px;
}

.Vline {
  background-color: #fff;
  width: 2px;
  height: 100%;
  margin: 0 14px;
}

.headerInfo {
  display: flex;
  width: 1280px;
  height: 286px;
  justify-content: space-between;
  padding: 0 32px;
  margin-top: 120px;
}

.leftInfo {
  width: 684px;

  & p {
    font-weight: 400;
    color: var(--second-text-color);
    font-size: 24px;

    & b {
      font-weight: 700;
      color: var(--second-text-color);
      font-size: 48px;
    }
  }
}

.rightInfo {
  justify-content: space-around;
  width: 340px;

  & button {
    cursor: pointer;
    width: 340px;
    height: 64px;
    background: #fffdfd;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    transition: 0.15s ease-in-out color, 0.15s ease-in-out transform;

    &:hover {
      color: hsl(196, 40%, 50%);
      transform: translateY(-4%);
    }

    &:disabled {
      cursor: unset;
      color: gray;

      &:hover {
        transform: translate(0);
      }
    }
  }

  & div {
    display: flex;
    align-items: center;

    & svg {
      margin: 0 8px;
      width: 46px;
      height: 46px;

      & path {
        color: var(--second-text-color);
      }
    }

    & p {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      color: var(--second-text-color);
      font-size: 14px;

      & b {
        font-family: "Inter", sans-serif;
        color: var(--second-text-color);
        font-weight: 700;
        font-size: 14px;
      }

      & span {
        color: var(--second-text-color);
      }
    }
  }
}

.PartnerModal {
  background-color: #fff;
  z-index: 501;
  padding: 64px 64px;
  border-radius: 10px;
}

.topBarButtonMobile {
  display: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: unset;

  & svg {
    width: 32px;
    height: 32px;

    & path {
      color: var(--second-text-color);
    }
  }
}

.topBarButtonSidebar {
  width: 100%;
  padding: 16px 0;
  border-radius: 10px;
  background-color: var(--second-text-color);
  color: var(--main-text-color);
  font-weight: 800;
}

.mobileSidebar {
  & h2 {
    color: var(--second-text-color);
  }

  position: fixed;
  top: 50%;
  right: 0;
  z-index: 501;
  width: 300px;
  height: 100vh;
  background-color: hsl(196, 40%, 38%, 0.75);
  backdrop-filter: blur(6px);
  align-items: center;
  padding: 16px;
}

//Убираем падинги у топбара
@media (max-width: 1440px) {
  .topBar {
    padding: 24px 20px;
  }
}

//Работа с основной инфой
@media (max-width: 1124px) {
  .headerInfo {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .headerInfo {
    align-items: center;
    height: 143px;
    margin-top: 90px;
    flex-direction: column;
    gap: 16px;
  }
  .leftInfo {
    margin: 0 auto;
    width: 300px;
    font-size: 18px;

    & b {
      font-size: 36px;
    }
  }
  .rightInfo {
    margin: 0 auto;
    width: 300px;
    gap: 16px;

    & button {
      width: 300px;
    }
  }
  .header {
    height: 650px;
  }
}

//Скрываем надписи у левой части топбара
@media (max-width: 640px) {
  .headerP1,
  .headerP2 {
    display: none;
  }
}

//Скрытие кнопок и показ кнопки сайдбара
@media (max-width: 1380px) {
  .topBarButton {
    display: none;
  }
  .topBarButtonMobile {
    display: block;
  }
}