.programm {
  width: 1100px;
  min-height: 1345px;
  margin-bottom: 64px;

  & h2 {
    margin-bottom: 48px;
    white-space: nowrap;
    width: 688px;
  }

  @media (max-width: 1100px) {
    & {
      width: 100%;
    }
  }
  @media (max-width: 710px) {
    & {
      & h2 {
        width: 346px;
        font-size: 24px;
      }
    }
  }
}

.programmMainContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
  align-items: center;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 455px) {
    & {
      flex-direction: column;
      gap: 16px;
    }
  }
}

.programmMainContainer1 {
  & p {
    width: 530px;
    text-align: center;

    &:nth-child(1) {
      font-weight: 800;
      font-size: 40px;
    }

    &:nth-child(2) {
      font-weight: 400;
      font-size: 32px;
    }
  }

  @media (max-width: 950px) {
    & p {
      width: 262px;

      &:nth-child(1) {
        font-size: 20px;
      }

      &:nth-child(2) {
        font-size: 16px;
      }
    }
  }
  @media (max-width: 520px) {
    & p {
      width: 204px;
    }
  }
}

.programmMainContainer2 {
  & p {
    font-family: "Inter", sans-serif;
    text-align: center;

    &:nth-child(1) {
      font-weight: 700;
      font-size: 40px;
    }

    &:nth-child(2) {
      font-weight: 300;
      font-size: 64px;
    }
  }

  @media (max-width: 950px) {
    & p {
      &:nth-child(1) {
        font-weight: 700;
        font-size: 20px;
      }

      &:nth-child(2) {
        font-weight: 300;
        font-size: 32px;
      }
    }
  }
}

.programmMainContainer3 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.programmMainContainerSVG {
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: block;
  border-radius: 50%;
  padding: 8px;
  transition: 0.15s ease-in-out color, 0.15s ease-in-out background-color,
  0.2s ease-in-out transform;
  transform: rotate(0deg);

  &:hover {
    background-color: var(--main-text-color);

    & path {
      color: white;
    }
  }
}

.programmMainContainerSVGOpened {
  transform: rotate(180deg);
}

.programmInfoContainers {
  height: 0;
  overflow: hidden;
  width: 1100px;
  @media (max-width: 1100px) {
    & {
      width: 100%;
    }
  }
}

.programmInfoContainer {
  margin: 16px auto;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.programmInformation {
  width: 138px;
  align-items: center;
  text-align: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 100%;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-text-color);
    width: 1px;
  }

  & p {
    font-weight: 800;
    font-size: 13px;
  }

  & img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 8px;
    object-position: 50% 10%;
  }
}

.programmInfoText {
  color: rgba(0, 0, 0, 0.75);
  width: 55%;
  text-align: justify;
  font-weight: 300;
  @media (max-width: 550px) {
    & {
      font-size: 14px;
    }
  }
}

.programmSections {
  width: 100%;
  display: flex;
  height: 700px;
  // overflow: hidden;
  margin-top: 100px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--main-text-color);
    height: 1px;
    top: -52px;
  }
}

.programmSectionbtns {
  width: 392px;
  height: 100%;
  margin-right: 32px;
  overflow-y: scroll;
  z-index: 10;
  background-color: var(--second-text-color);
  @media (max-width: 1100px) {
    & {
      display: block;
      position: absolute;
      top: 0;
      left: -100%;
    }
  }
  @media (max-width: 392px) {
    & {
      width: 100%;
    }
  }
}

.programmSectionbtn {
  width: 382px;
  border-radius: 10px;
  background-color: var(--second-text-color);
  font-weight: 800;
  font-family: inherit;
  font-size: 14px;
  padding: 16px 32px;
  transition: 0.15s ease-in-out background-color, 0.15s ease-in-out color;

  &:hover {
    background-color: var(--main-text-color);
    color: #fff;
  }

  &.programmSectionbtnActive {
    background-color: var(--main-text-color);
    color: #fff;
  }

  @media (max-width: 382px) {
    & {
      width: 100%;
    }
  }
}

.programmSectionbtnMobile {
  display: none;
  width: 48px;
  height: 48px;
  position: absolute;
  top: -48px;
  left: 0;
  border-radius: 50%;
  background-color: #fff;

  & svg {
    width: 32px;
    height: 32px;
  }

  transition: 0.15s ease-in-out color, 0.15s ease-in-out background-color,
  0.2s ease-in-out transform;

  &:hover {
    background-color: var(--main-text-color);

    & path {
      color: white;
    }
  }

  @media (max-width: 1100px) {
    & {
      display: block;
    }
  }
}

.programmSectionBlackBg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


.programmSectionList {
  width: 686px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
  @media (max-width: 1100px) {
    & {
      margin: 0 auto;
    }
  }
  @media (max-width: 686px) {
    & {
      width: 100%;

      & li {
        width: 100%;
      }
    }
  }
}

.programmSectionListMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  margin-bottom: 32px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    background-color: var(--main-text-color);
    height: 1px;
    bottom: -10px;
  }

  @media (max-width: 686px) {
    & {
      flex-direction: column;
      gap: 32px;
    }
  }
}

.programmSectionListMainContainer1 {
  align-items: center;

  & p {
    width: 450px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

    & b {
      font-weight: 800;
      font-size: 24px;
    }
  }

  @media (max-width: 450px) {
    & {
      & p {
        width: 90%;
      }
    }
  }
}

.programmSectionListMainContainer2 {
  position: relative;
  display: flex;
  padding: 0 48px 0 16px;
  align-items: center;
  text-align: center;

  & div {
    align-items: center;

    & p {
      width: 160px;
      font-family: "Inter", sans-serif;
      font-weight: 300;
      font-size: 24px;

      & b {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 24px;
      }
    }
  }

  @media (max-width: 686px) {
    & {
      padding: 0;
    }
  }
}

.programmSectionListMainSVG {
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 50%;
  margin-left: 16px;
  transition: 0.15s ease-in-out color, 0.15s ease-in-out background-color,
  0.2s ease-in-out transform;
  transform: rotate(0deg);

  &:hover {
    background-color: var(--main-text-color);

    & path {
      color: white;
    }
  }

  @media (max-width: 686px) {
    & {
      right: -48px;
    }
  }
}

.programmSectionListMainSVGOpened {
  transform: rotate(180deg);
}

.programmSectionListHiddenContainer {
  margin: 32px;
  height: auto;
  overflow: hidden;

  & h3 {
    margin-bottom: 20px;
  }

  & p {
    & b {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

.programmSectionListQA {
  margin-top: 16px;
  width: 400px;

  & li {
    margin-left: 24px;
    width: 570px;
    position: relative;
  }

  @media (max-width: 570px) {
    & {
      width: 100%;
    }
  }
  @media (max-width: 570px) {
    & {
      & li {
        width: calc(100% - 24px);
      }
    }
  }
}

.programmSectionListPeapCtn {
  width: 100%;
}

.programmSectionListPeapTitle {
  font-weight: 800;
  font-size: 20px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}

.programmSectionListPeapLi {
  & p:nth-child(1) {
    font-weight: 600;
    font-size: 14px;
    color: var(--main-text-color);
    text-transform: uppercase;
  }

  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--main-text-color);
    bottom: 0;
  }
}

.programmSectionListPeapLiCtn {
  margin-bottom: 8px;

  & div {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & p {
      color: #000;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;

      &:nth-child(2) {
        width: 100%;
      }

      & b {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #000;
      }
    }

    &:nth-child(2) {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      & p {
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        padding: 2px 8px;
        background-color: var(--main-text-color);
        width: 100px;
        border-radius: 8px;
        text-align: center;
      }
    }
  }
}

.membersTitle {
  text-align: center;
  margin: 32px auto;
  width: 320px;
}

.memberContainer {
  display: flex;
  align-items: center;

  & img {
    margin-bottom: 8px;
    object-fit: cover;
    border-radius: 50%;
    object-position: 50% 10%;
  }
}

.memberName {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 16px;

  & p {
    width: 110px;
  }
}

.memberWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}