.programm {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 64px;
  & h2 {
    margin: 0 auto;
    margin-bottom: 48px;
    white-space: nowrap;
    width: 688px;
  }
}

.programmContainer {
  color: #000;
  & h3 {
    margin: 0 auto;
    margin-top: 100px;
    font-size: 40px;
    letter-spacing: 0.5em;
    margin-bottom: 48px;
    white-space: nowrap;
    width: 272px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 1100px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      background-color: #3a7388;
      top: -80%;
    }
  }
}

.programmMainContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
  align-items: center;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
}

.programmMainContainer1 {
  & p {
    width: 530px;
    color: #3a7388;
    text-align: center;
    &:nth-child(1) {
      font-weight: 800;
      font-size: 40px;
    }
    &:nth-child(2) {
      font-weight: 400;
      font-size: 32px;
    }
  }
}
.programmMainContainer2 {
  & p {
    font-family: "Inter";
    color: #3a7388;
    text-align: center;
    &:nth-child(1) {
      font-weight: 700;
      font-size: 40px;
    }
    &:nth-child(2) {
      font-weight: 300;
      font-size: 64px;
    }
  }
}

.programmMainContainerSVG {
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: block;
  border-radius: 50%;
  padding: 8px;
  transition: 0.15s ease-in-out color, 0.15s ease-in-out background-color,
    0.2s ease-in-out transform;
  transform: rotate(0deg);
  & path {
    color: #3a7388;
  }
  &:hover {
    background-color: #3a7388;
    & path {
      color: white;
    }
  }
}

.programmMainContainer3 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.programmMainContainerSVGOpened {
  transform: rotate(180deg);
}

.programmSectionbtns {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 382px;
  margin-right: 32px;
}
.programmSections {
  width: 100%;
  display: flex;
  height: 882px;
  align-items: center;
  overflow: hidden;
}

.programmSectionbtn {
  width: 382px;
  border-radius: 10px;
  background-color: #fff;
  color: #3a7388;
  font-weight: 800;
  font-size: 14px;
  padding: 16px 32px;
  transition: 0.15s ease-in-out background-color, 0.15s ease-in-out color;
  &:hover {
    background-color: #3a7388;
    color: #fff;
  }
  &.programmSectionbtnActive {
    background-color: #3a7388;
    color: #fff;
  }
}

.programmInfoContainers {
  height: 0px;
  overflow: hidden;
  width: 1100px;
}

.programmInfoContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin: 16px 0;
  position: relative;
}

.programmInfoText {
  color: rgba(0, 0, 0, 0.75);
  width: 55%;
  text-align: justify;
  font-weight: 300;
}

.programmInformation {
  display: flex;
  flex-direction: column;
  width: 138px;
  align-items: center;
  text-align: center;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    left: 100%;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3a7388;
    width: 1px;
  }
  & p {
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    color: #3a7388;
  }
  & img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 8px;
    object-position: 50% 10%;
  }
}

.programmSectionList {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
  & li {
    min-height: 160px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-color: #3a7388;
      bottom: 0;
      width: 100%;
      height: 1px;
    }
    &:last-child {
      &::before {
        height: 0;
      }
    }
  }
}

.programmSectionListPlace {
  display: flex;
  justify-content: end;
  margin-bottom: 16px;
  & p {
    margin-right: 64px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding: 3px 12px;
    background: #3a7388;
    width: 155px;
    text-align: center;
    border-radius: 8px;
  }
}

.programmSectionListFlex {
  display: flex;
  flex-direction: column;
  min-height: 131px;
  justify-content: space-between;
}

.programmSectionListMainInfo {
  width: 500px;
  text-transform: uppercase;
  color: #3a7388;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.programmSectionListSecondInfo {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1em;
  max-width: 360px;
  color: #000;
  & b {
    font-weight: 600;
    color: #000;
  }
}

.programmSectionListTime {
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  right: 0;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  transform: rotate(90deg) translateY(-80%) translateX(-20%);
  color: #3a7388;
  width: 150px;
}
