@tailwind base
@tailwind components
@tailwind utilities

*
  margin: 0
  padding: 0
  box-sizing: border-box
  color: white


.sideBar
  @apply flex flex-col gap-1

  & li a
    background-color: #3A7388
    @apply w-full py-6 px-6 transition-all before:transition-all flex items-center relative before:absolute before:w-1 before:h-full before:bg-blue-300 before:right-0 before:opacity-0
    &:hover
      @apply before:w-1.5 before:opacity-100
      background-color: #6FACC3
    &.active
      @apply font-medium before:bg-red-500 before:w-2 before:opacity-100 before:rounded-2xl


.loginForm
  @apply w-[20rem] p-6 fixed top-1/2 left-1/2 bg-cyan-400 -translate-y-1/2 -translate-x-1/2 rounded-xl flex flex-col items-center gap-6

  & h1
    @apply text-2xl font-bold


  & input
    @apply text-center text-black font-normal h-10 w-full bg-cyan-200 rounded-xl placeholder:text-center text-gray-400 font-thin


  & button
    @apply w-full h-10 bg-cyan-500 rounded-xl hover:bg-cyan-600 transition-colors

.reportsTable
  @apply table-fixed
  & thead
    background: #EDF2F7
    @apply w-full
    & tr
      @apply h-10 w-full
      & td

        width: 10rem
        @apply py-1 px-2 h-16 text-black text-base text-center table-fixed
        & p
          width: 10rem
          @apply bg-red-400 text-black text-center w-full

  tbody
    tr
      @apply h-16
      td
        color: #718096
        @apply border-b-2 border-gray-200 transition-colors max-w-sm
        p
          @apply truncate
          color: #718096
      td:nth-child(1)
        min-width: 2rem
        max-width: 4rem
        @apply text-center
      td:nth-child(2)
        width: 10rem
        p
          @apply w-72
        @media (max-width: 1300px)
          p
            @apply w-52
      td:nth-child(3)
        @apply w-64
      td:nth-child(4)
        @apply w-24 text-center
      td:nth-child(5)
        div
          @apply flex gap-8 justify-center
          @media (max-width: 1700px)
            @apply gap-4
          button
            &:hover
              background-color: #3A7388
              svg
                fill: white
              span
                color: white
            color: #718096
            @apply flex gap-1 items-center hover:text-white px-2 py-2 rounded-md transition-colors
            svg
              fill: #718096
              @apply w-6 h-6
            span
              color: #718096
              @media (max-width: 1700px)
                display: none




.NavBar
  background-color: #3A7388
  @apply h-full w-72 pt-8 flex flex-col justify-between

.sideBarLogo
  @apply w-full flex items-center justify-center mb-4 gap-4
  & p
    @apply font-semibold

.exitButton
  color: #3A7388
  @apply bg-white w-full px-16 py-8 text-left font-semibold hover:opacity-90 transition-opacity opacity-100

.mainWrapper
  flex-grow: 1
  @apply h-full bg-gray-100 p-8

.reportsTopButton
  background-color: #3A7388
  @apply h-10 px-4 rounded-md font-semibold flex gap-2 items-center
  @media (max-width: 1440px)
    @apply px-2
    span
      display: none
  svg
    @apply w-6 h-6

.reportsTopLabel
  @apply relative w-2/6
  & input
    @apply border-2 border-gray-200 w-full rounded-md h-10 text-black pl-8
    &::placeholder
      @apply text-gray-200
  &:before
    @apply fill-gray-200
    content: ""
    position: absolute
    left: 10px
    top: 0
    bottom: 0
    width: 20px
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 1024 1024' fill='rgb(203, 213, 224)' fill-rule='evenodd'%3E%3Cpath d='M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat


.lds-ring
  @apply inline-block relative w-20 h-20 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2
  div
    @apply box-border block absolute w-16 h-16 m-2 border-solid border-black border-8 rounded-full
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
    border-color: #3A7388 transparent transparent transparent

    &:nth-child(1)
      animation-delay: -0.45s

    &:nth-child(2)
      animation-delay: -0.3s

    &:nth-child(3)
      animation-delay: -0.15s

@keyframes lds-ring
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

.loaderBox
  z-index: 1000
  clip-path: circle(100%)
  transition: opacity 1s ease-in-out, clip-path 1s ease-in-out
  opacity: 1
  @apply w-screen h-screen absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 flex bg-white

.loaderHide
  opacity: 0
  clip-path: circle(0%)

.reportsBottomButtons
  @apply flex items-center overflow-hidden rounded-xl gap-2
  button
    color: #3A7388
    border: #3a7388 solid 1px
    @apply w-8 h-8 hover:bg-red-400 font-semibold transition-all hover:text-white rounded-full hover:border-0


.myTable
  @apply w-full h-full
  ul
    @apply w-full h-full
    li
      @apply flex
      h2
        @apply text-black text-2xl font-semibold w-full text-center py-4
      p
        min-height: 4rem
        max-height: 4rem
        @apply flex justify-center items-center mx-1
      p:nth-child(1)
        min-width: 2rem
        max-width: 4rem
        width: 100%
      p:nth-child(2)
        min-width: 14rem
        max-width: 18rem
        width: 100%
      p:nth-child(3)
        min-width: 14rem
        max-width: 18rem
        width: 100%
      p:nth-child(4)
        min-width: 8rem
        max-width: 8rem
      p:nth-child(5)
        min-width: 12rem
        width: 100%
      div
        min-width: 12rem
        width: 100%
        @apply flex justify-center items-center gap-8
        @media (max-width: 1700px)
          @apply gap-2
        button
          &:hover
            background-color: #3A7388
            svg
              fill: white
            span
              color: white
          color: #718096
          @apply flex gap-1 items-center hover:text-white p-2 rounded-md transition-colors
          svg
            fill: #718096
            @apply w-6 h-6
          span
            color: #718096
            @media (max-width: 1700px)
              display: none

    li:not(:nth-child(1))
      p
        color: #718096
      p:nth-child(2)
        @apply justify-start
      p:nth-child(3)
        @apply justify-start

    li:nth-child(1)
      background-color: #EDF2F7
      p
        @apply text-black
      p:nth-child(4)
        @apply text-center

